# 忽略 Python 相关文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略虚拟环境
venv/
env/

# 忽略数据库文件
*.sqlite3

# 忽略环境变量文件
.env

# 忽略日志文件
*.log

# 忽略用户上传的文件
media/

# 忽略 Django 迁移文件
**/migrations/*.py
!**/migrations/__init__.py

